body.chrome, body.gecko, body{
background-image:url(images/sitemap-bkgd.png);
background-position:-1px 0;
background-color:#333;
}

.chrome #top, .gecko #top, #top {
padding-top:50px;
height:185px;
}

#menu_top {
background:#333;
height:50px;
position:fixed;
width:100%;
z-index:999;
}

#menu_top .container {
position:relative;
}

#menu_top #logo {
position:absolute;
top:0;
left:-19px;
}

#menu_top #menu {
background:none;
position:absolute;
top:0;
right:-19px;
}

#menu_top #menu-content  {
background:none;
}

#menu_top #menu-right {
background:none;
padding:0;
}

#menu_top #menu a {
padding: 16px 19px 9px 20px;
color:#fff;
font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif!important; 
background:none;
font-style:normal;
text-shadow:none;
letter-spacing:2px;
text-transform:uppercase;
}

#menu_top ul#top-menu > li.current-menu-item > a {
color:#fff!important;
}

#menu_top ul#top-menu > li.current-menu-item > a {
background:none;
font-style:normal;
}

#menu_top ul#top-menu li, #top #menu-content {
background:none;
}

#top #lounge_logo {
position:absolute;
top:65px;
left:20px;
font-size:50px;
font-family:museo-slab,serif;
color:#bbd840;
font-weight:100;
text-shadow:none;
letter-spacing:-2px;
}

#top #lounge_logo strong{
color:#bbd840;
font-weight:500;
}

#top #slogan {
font-size:24px;
font-family:museo-slab,serif;
top:105px;
left:20px;
color:#fff;
position:absolute;
font-weight:100;
font-style:normal;
}

body, body.chrome, body.gecko, .blurb h3.title, #footer h4.widgettitle, .widget h4.title { 
font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif!important; 
}

#content-area h2.title a, #content-area  .headline_area h2, #category-name h1.title{
font-family:museo-slab,serif!important;
font-weight:700;
color:#585858!important;
text-shadow:none;
}

p.meta-info, p.meta-info a, a.read-more, #category-name p.meta-info, #category-name p.meta-info a, #comment-wrap h3, #comment-wrap h3 span, a.comment-reply-link, input#submit {
font-family:museo-slab,serif!important;
font-weight:500;
color:#146897!important;
text-shadow:none;
}

#comment-wrap h3, #comment-wrap h3 span {
font-size:17px;
}

input#submit {
font-size:15px;
font-style:normal;
}

.comment-meta a, #join-comment {
font-family:museo-slab,serif!important;
font-weight:100;
}

#category-name {
width:550px;
}

#sidebar h4.title {
font-size:14px;
font-family:museo-slab,serif!important;
font-weight:500;
color:#146897!important;
}

#footer #footer-widgets {
background:none;
}

.home.chrome #content, .home.gecko #content{
padding-top:20px;
}

.chrome #content, .gecko #content, #content{
padding-top:0;
}


