.caption h1
{
	margin: 40px 0 0 30px;
}

.portfolio_photos li .hover_content
{
	padding: 0;
	padding: 1px 0 1px 0;
}

.portfolio_photos li .hover_content img
{
	position: relative;
	top: 9px;
}

.portfolio_one_column .image .hover_content
{
	padding: 0;
	padding: 5px 0 5px 0;
}

.portfolio_one_column .image .hover_content img
{
	
}